<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="center">
        <custom-boxdate></custom-boxdate>
        <custom-multilinetitle></custom-multilinetitle>
        <!--
        <custom-settings></custom-settings>
        -->
    </ion-header-bar>
    <ion-content class="padding about-bgImage"> <!-- style="background: #474747;"> -->
                    <!--
        <div class="text-center">
            <div class="inline" style="border: 10px solid black">
                <div class="" style="border: 10px solid yellow">
                    <img src="img/lori_hudson_blank.png" style="max-width: 100%"></img>
                </div>
                <div class="" 
                    style="float:left;top:0;left:0;border: 10px solid blue">
                    -->
                    <div class="full-image row-center">
                        <!-- style="border: 10px solid green"> -->
                        <div class="row">
                        <div class="col text-center">
                        <a class="button button-outline icon-left ion-ios-telephone button-balanced"
                            href="tel://770-562-9007">770 562-9007</a>                        
                        </div>
                        <div class="col landscape">&nbsp;</div>
                        </div>
                        <tmc-abouttable src="img/lori_hudson_blank.png" 
                                        items='[{
"col1":"<h1 style=\"color:#0066ff;\">Walkings<br>Welcome</h1>",
                                               },{
"col1":"<h1 style=\"color:#0066ff;\">Short Wait Times</h1>"
                                               },{
"col1":"<h1 style=\"color:#0066ff\">Whole Family Care</h1>",
                                               },{
"col1":"<h1 style=\"color:#0066ff;\">Wellness / Sick Visits</h1>"
                                               },{
"col1":"<h1 style=\"color:#0066ff\">Sports Physicals</h1>"
                                               },{
"col1":"<h1 class=\"text-right\" style=\"color:#0066ff\"><br/>Lori Hudson, FNP</h1>"
                                               }]'>
                            <h1>tmc-abouttable</h1>
                        </tmc-abouttable>                
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
