<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="center">
        <custom-boxdate></custom-boxdate>
        <custom-multilinetitle></custom-multilinetitle>
        <!--
        <custom-settings></custom-settings>
        -->
    </ion-header-bar>
    <ion-content class="padding content-bgImage">
        <!--
        <img style="max-width: 100%" src="img/staticmap.png"  />
        -->
        <!--
        <div class="bar bar-assertive text-center">
            <a class="button button-light icon-left ion-ios-telephone button-balanced"
                href="tel://770-562-9007">770 562-9007</a>                        
            </div>
        </div>
        -->
        <div class="full-image text-center button button-light">
            <!-- style="border: 10px solid green"> -->
            <div class="row">
            <div class="col col-20 text-left">
            <a class="button button-light ion-ios-telephone button-balanced"
                href="tel://770-562-9007"></a>                        
            </div>
            <div class="col col-70">
                770&nbsp;562-0632
            </div>
            <div class="col col-20 text-right">
            <a class="button button-light button-balanced ion-ios-navigate"
                href="#"></a>                        
            </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="full-image text-center">
            <h1 class="">431 Sage Street &bull; Temple, GA 30179</h1>
            <!--
           <a class="button button-light icon-left ion-ios-navigate button-calm"
                href="http://maps.google.com/maps?q='431 Sage Street, Temple, GA 30179'">&nbsp;&nbsp;431 Sage Street &bull; Temple, GA 30179</a>                        
            -->
        </div>
        <!--
        <h1 class="title">431 Sage Street &bull; Temple, GA 30179</h1>
        -->
    </ion-footer-bar>
    
</ion-view>
