<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="center">
        <custom-boxdate></custom-boxdate>
        <custom-multilinetitle></custom-multilinetitle>
        <custom-settings></custom-settings>
    </ion-header-bar>
    <ion-content class="padding">
        <div id="homePortrait">
            <div class="row">
                <div class="col">
                    <img style="max-width: 100%" src="img/background.jpg"/>    
                </div>
            </div>
            <div class="row" ng-repeat="day in days">
                <div class="col">{{day.name}}</div>
                <div class="col text-right">{{day.hours}}</div>
            </div>
        </div>
        <div id="homeLandscape">
            <div class="row">
                <div class="col col-center">
                    <img style="max-width: 100%" src="img/background.jpg"/>    
                </div>
                <div class="col col-center">
                    <div class="row" ng-repeat="day in days">
                        <div class="col">{{day.name}}</div>
                        <div class="col text-right">{{day.hours}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
