<style type="text/css">
.bar .title1 {
    position: absolute;
    top: 30;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
}
.offsetLine1 {
    left: 50px !important;
    z-index: 9999;
}
.offsetLine2 {
    top: 20px !important;
    left: 50px !important;
    z-index: 9998;
}
</style>
<div>
    <span ng-click="title_click();" class="title offsetLine1">{{ multilineTitle.line1 }}</span>
    <span ng-click="title_click();" class="title offsetLine2">{{ multilineTitle.line2 }}</span>
</div>
