<ion-view view-title="SETTING">
    <ion-header-bar class="bar-positive bar bar-header disable-user-behavior" align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>        
        <h1 class="title">Settings</h1>

    </ion-header-bar>
    
    <ion-content class="padding">
        <p>
            Settings Contect Goes Here !
            <div ng-bind-html="settings.info">html data goes here</div>
        </p>        
    </ion-content>
</ion-view>