<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
	id="com.ericdecoff.myionicapp" 
	version="1.0.0">
  <name>myIonicApp</name>
  <description>
        An Ionic Framework and Cordova project.
  </description>
  <author email="ericdecoff@gmail.com" href="http://ericdecoff/">
      Eric DeCoff
  </author>
  <icon src="Build-Bot.png"/>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <!-- PLUGINS -->
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
  <allow-navigation href="*" />    
</widget>